<!DOCTYPE html>
<html>
<head>
    <title>Data View</title>
</head>
<body>
    <h1>Data List</h1>
    <ul id="data-list">
        {% for item in data %}
        <li>{{ item.name }} - {{ item.description }} - {{ item.price }} - {{ item.tax }}</li>
        {% endfor %}
    </ul>

    <button id="add-data">Add Data</button>
    <button id="modify-data">Modify Data</button>
    <button id="save-data">Save Data</button>

    <script src="/static/scripts1.js"></script>
</body>
</html>
